/*Menu*/
.menu {
  display: flex;
}

.menu-item {
  width: 25%;
  background: gold;
  transition: 0.5s;
  /* flex-grow: 1; */
}

.menu-item:hover {
  width: 35%;
  background: crimson;
  /* flex-grow: 2; */
}

.menu-link {
  display: block;
  padding: 1em; /* 폰트 사이즈 만큼 크기를 주겠다는 의도*/
  font-size: 1.2rem; /* 설정된 html 크기 만큼의 텍스트 크기를 주겠다.*/
  font-weight: bold;
  color: #555;
  text-decoration: none;
  text-align: center;
}

.menu-link:hover {
  color: white;
}
